.greeting {
    /* H2 - bold 44 (56, 0.2px) */

    /* font-family: Muli; */
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
    /* or 127% */

    text-align: center;
    letter-spacing: 0.2px;

    /* Light / Black */

    color: #373F41;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;
}